html, body, .home {
    height: 100vh;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: auto;
    height: auto;
}

.choices {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.MuiButton-root {
    width: 20%;
}